<a href="https://colab.research.google.com/github/Jinestroz/Proyecto_investigacion_semiario/blob/main/Base%20de%20datos%20Python/calculos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [91]:
import pandas as pd 
import numpy as np

In [92]:
# @title Dataframe desde archivo CVS
# df1 = pd.read_csv("lista_personas - Hoja 1.csv")
# df1

# Tratamiento de los datos como CSV
### En construcción...

In [93]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/1bqg_wBX8s9GcW6UeCQ1sx4H2xmCvVHB6/export?format=csv")

In [94]:
#@title datos muestra
df

         Departamento  Poblacion_Hombres  ...  Inactivos_Mujeres  Inactivos_Total
0           ATLANTIDA             210887  ...             166663           257475
1               COLON             151723  ...             119503           181585
2           COMAYAGUA             240839  ...             189094           279325
3               COPAN             183615  ...             141119           203903
4              CORTES             750811  ...             551686           861169
5           CHOLUTECA             216407  ...             173420           263458
6         EL PARAISO              223591  ...             171853           250118
7   FRANCISCO MORAZAN             719526  ...             523332           814466
8     GRACIAS A DIOS               44274  ...              31869            54961
9            INTIBUCA             113744  ...              90523           129403
10  ISLAS DE LA BAHIA              30606  ...              20824            33407
11             LA PAZ              96807  ...              77484           112906
12           LEMPIRA              161046  ...             129482           185448
13         OCOTEPEQUE              72397  ...              57077            78911
14           OLANCHO              257607  ...             204578           303912
15      SANTA BARBARA             214131  ...             163224           242922
16              VALLE              85125  ...              69470           104097
17               YORO             279188  ...             222030           337215

[18 rows x 13 columns]

In [95]:
#@title Estadística básica
datos = df.describe()
datos

       Poblacion_Hombres  Poblacion_Mujeres  ...  Inactivos_Mujeres  Inactivos_Total
count          18.000000          18.000000  ...          18.000000        18.000000
mean       225129.111111      236191.888889  ...      172401.722222    260815.611111
std        199847.550474      218832.972509  ...      145290.075728    227715.846771
min         30606.000000       31951.000000  ...       20824.000000     33407.000000
25%        101041.250000      106292.500000  ...       80743.750000    117030.250000
50%        197251.000000      197322.000000  ...      152171.500000    223412.500000
75%        236527.000000      245811.750000  ...      185175.500000    275358.250000
max        750811.000000      811586.000000  ...      551686.000000    861169.000000

[8 rows x 12 columns]

In [96]:
columna = "Ocupados_Hombres"
media = df[columna].sum()/df[columna].count()
media

106700.33333333333

In [97]:
columna = "Ocupados_Mujeres"
media = df[columna].sum()/df[columna].count()
media

36419.72222222222

In [98]:
varianza = (((df[columna]-media)*(df[columna]-media)).sum())/(df[columna].count()-1)
varianza

2674158307.5065355

In [99]:
columna = "Ocupados_Mujeres"
media = df[columna].sum()/df[columna].count()
media

36419.72222222222

In [100]:
varianza = (((df[columna]-media)*(df[columna]-media)).sum())/(df[columna].count()-1)
varianza

2674158307.5065355

In [101]:
poblacion_activa = df["Ocupados_Total"].sum() + df["Desocupados_Total"].sum()
poblacion_activa

2638033

In [102]:
PET = poblacion_activa + df["Inactivos_Total"].sum()
PET

7332714

In [103]:
tasa_actividad = (poblacion_activa/PET)*100
tasa_actividad

35.97621562766528

In [104]:
tasa_desempleo = (poblacion_desempleada/poblacion_activa)*100
tasa_desempleo

1.5036203110423563

In [105]:
poblacion_ocupada = df["Ocupados_Total"].sum()
poblacion_ocupada

2576161

In [106]:
poblacion_desempleada = df["Desocupados_Total"].sum()
poblacion_desempleada

61872

In [107]:
tasa_ocupacion = (poblacion_ocupada/poblacion_activa)*100
tasa_ocupacion

97.65461614771309

In [108]:
tasa_ocupacion + tasa_desempleo

99.15823645875544