<a href="https://colab.research.google.com/github/Jinestroz/Proyecto_investigacion_semiario/blob/main/Base%20de%20datos%20Python/calculos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [70]:
import pandas as pd 
import numpy as np

In [71]:
# @title Dataframe desde archivo CVS
# df1 = pd.read_csv("lista_personas - Hoja 1.csv")
# df1

# Tratamiento de los datos como CSV
### En construcci√≥n...

In [72]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/1FBkNtj49IXmu7p750dE0n6V7ZArY0SQs/export?format=csv")

In [73]:
#@title datos muestra
df

        Departamento   Poblacion_Hombres  ...  Inactivos_Mujeres  Inactivos_Total
0           ATLANTIDA             155460  ...             107446           163670
1               COLON             109611  ...              73884           110528
2           COMAYAGUA             165967  ...             112428           162700
3               COPAN             139009  ...              92839           130187
4              CORTES             524025  ...             330431           504277
5           CHOLUTECA             181803  ...             125835           185504
6         EL PARAISO              167606  ...             112992           161420
7   FRANCISCO MORAZAN             534832  ...             346597           527937
8     GRACIAS A DIOS               27833  ...              17246            27893
9            INTIBUCA              87170  ...              59150            82115
10  ISLAS DE LA BAHIA              15477  ...              10065            15616
11             LA PAZ              72736  ...              51174            72760
12           LEMPIRA              124278  ...              83130           110799
13         OCOTEPEQUE              51128  ...              35725            47976
14           OLANCHO              193686  ...             133718           190385
15      SANTA BARBARA             169595  ...             110055           164496
16              VALLE              69802  ...              51851            77449
17               YORO             218765  ...             151272           226769

[18 rows x 13 columns]

In [74]:
#@title Estad√≠stica b√°sica
datos = df.describe()
datos

       Poblacion_Hombres  Poblacion_Mujeres  ...  Inactivos_Mujeres  Inactivos_Total
count          18.000000          18.000000  ...          18.000000        18.000000
mean       167154.611111      170450.111111  ...      111435.444444    164582.277778
std        144075.177565      154388.701484  ...       91691.423904    140732.975112
min         15477.000000       16075.000000  ...       10065.000000     15616.000000
25%         76344.500000       78272.500000  ...       53675.750000     78615.500000
50%        147234.500000      147411.000000  ...      100142.500000    145803.500000
75%        178751.000000      178747.500000  ...      122624.250000    180252.000000
max        534832.000000      575068.000000  ...      346597.000000    527937.000000

[8 rows x 12 columns]

In [75]:
columna = "Ocupados_Hombres"
media = df[columna].sum()/df[columna].count()
media

77596.38888888889

In [77]:
columna = "Ocupados_Mujeres"
media = df[columna].sum()/df[columna].count()
media

25001.88888888889

In [78]:
varianza = (((df[columna]-media)*(df[columna]-media)).sum())/(df[columna].count()-1)
varianza

1412152079.3986924

In [79]:
columna = "Ocupados_Mujeres"
media = df[columna].sum()/df[columna].count()
media

25001.88888888889

In [80]:
varianza = (((df[columna]-media)*(df[columna]-media)).sum())/(df[columna].count()-1)
varianza

1412152079.3986924

In [81]:
poblacion_activa = df["Ocupados_Total"].sum() + df["Desocupados_Total"].sum()
poblacion_activa

1886435

In [82]:
PET = poblacion_activa + df["Inactivos_Total"].sum()
PET

4848916

In [83]:
tasa_actividad = (poblacion_activa/PET)*100
tasa_actividad

38.90426231347377

In [84]:
tasa_desempleo = (poblacion_desempleada/poblacion_activa)*100
tasa_desempleo

3.279837365188835

In [85]:
poblacion_ocupada = df["Ocupados_Total"].sum()
poblacion_ocupada

1846769

In [86]:
poblacion_desempleada = df["Desocupados_Total"].sum()
poblacion_desempleada

39666

In [87]:
tasa_ocupacion = (poblacion_ocupada/poblacion_activa)*100
tasa_ocupacion

97.8973036441754

In [88]:
tasa_ocupacion + tasa_desempleo

101.17714100936423