In [1]:
import pandas as pd 
import numpy as np

In [2]:
# @title Dataframe desde archivo CVS
# df1 = pd.read_csv("lista_personas - Hoja 1.csv")
# df1

# Tratamiento de los datos como CSV
### En construcción...

In [48]:
df = pd.read_csv("https://docs.google.com/spreadsheets/d/1bqg_wBX8s9GcW6UeCQ1sx4H2xmCvVHB6/export?format=csv")

In [49]:
#@title datos muestra
df

,Departamento,Poblacion_Hombres,Poblacion_Mujeres,Poblacion_Total,Ocupados_Hombres,Ocupados_Mujeres,Ocupados_Total,Desocupados_Hombres,Desocupados_Mujeres,Desocupados_Total,Inactivos_Hombres,Inactivos_Mujeres,Inactivos_Total
0,ATLANTIDA,210887,225363,436250,91427,32543,123970,2742,977,3719,90812,166663,257475
1,COLON,151723,158202,309925,67751,18401,86152,1549,347,1896,62082,119503,181585
2,COMAYAGUA,240839,252628,493467,117055,32245,149300,1979,477,2456,90231,189094,279325
3,COPAN,183615,187441,371056,95661,23423,119084,1336,316,1652,62784,141119,203903
4,CORTES,750811,811586,1562397,339512,168442,507954,11651,4407,16058,309483,551686,861169
5,CHOLUTECA,216407,221211,437618,99759,24192,123951,2406,609,3015,90038,173420,263458
6,EL PARAISO,223591,220915,444506,117668,23670,141338,1643,466,2109,78265,171853,250118
7,FRANCISCO MORAZAN,719526,789383,1508909,336106,184065,520171,11948,5001,16949,291134,523332,814466
8,GRACIAS A DIOS,44274,46521,90795,14321,7894,22215,819,510,1329,23092,31869,54961
9,INTIBUCA,113744,118807,232551,59713,13802,73515,473,123,596,38880,90523,129403
10,ISLAS DE LA BAHIA,30606,31951,62557,13463,6941,20404,480,216,696,12583,20824,33407
11,LA PAZ,96807,102121,198928,48168,11848,60016,626,103,729,35422,77484,112906
12,LEMPIRA,161046,160133,321179,83156,9842,92998,588,121,709,55966,129482,185448
13,OCOTEPEQUE,72397,74036,146433,41242,8277,49519,385,101,486,21834,57077,78911
14,OLANCHO,257607,263158,520765,123320,25939,149259,1734,482,2216,99334,204578,303912
15,SANTA BARBARA,214131,207203,421334,107163,19326,126489,1651,317,1968,79698,163224,242922
16,VALLE,85125,89388,174513,39652,10119,49771,878,228,1106,34627,69470,104097
17,YORO,279188,291407,570595,125469,34586,160055,3321,862,4183,115185,222030,337215

In [50]:
#@title Estadística básica
datos = df.describe()
datos

,Poblacion_Hombres,Poblacion_Mujeres,Poblacion_Total,Ocupados_Hombres,Ocupados_Mujeres,Ocupados_Total,Desocupados_Hombres,Desocupados_Mujeres,Desocupados_Total,Inactivos_Hombres,Inactivos_Mujeres,Inactivos_Total
count,18.000000,18.000000,1.800000e+01,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,225129.111111,236191.888889,4.613210e+05,106700.333333,36419.722222,143120.055556,2567.166667,870.166667,3437.333333,88413.888889,172401.722222,260815.611111
std,199847.550474,218832.972509,4.186110e+05,91330.169777,51712.264575,141813.208457,3460.067192,1419.978593,4872.243088,82605.244524,145290.075728,227715.846771
min,30606.000000,31951.000000,6.255700e+04,13463.000000,6941.000000,20404.000000,385.000000,101.000000,486.000000,12583.000000,20824.000000,33407.000000
25%,101041.250000,106292.500000,2.073338e+05,51054.250000,10551.250000,63390.750000,674.250000,219.000000,823.250000,36286.500000,80743.750000,117030.250000
50%,197251.000000,197322.000000,3.961950e+05,93544.000000,21374.500000,121517.500000,1596.000000,406.500000,1932.000000,70524.500000,152171.500000,223412.500000
75%,236527.000000,245811.750000,4.812268e+05,117514.750000,30668.500000,147278.750000,2299.250000,584.250000,2875.250000,90666.750000,185175.500000,275358.250000
max,750811.000000,811586.000000,1.562397e+06,339512.000000,184065.000000,520171.000000,11948.000000,5001.000000,16949.000000,309483.000000,551686.000000,861169.000000

In [51]:
columna = "Ocupados_Hombres"
media = df[columna].sum()/df[columna].count()

In [52]:
varianza = (((df[columna]-media)*(df[columna]-media)).sum())/(df[columna].count()-1)
varianza

8341199911.529413

In [53]:
columna = "Ocupados_Mujeres"
media = df[columna].sum()/df[columna].count()

In [54]:
varianza = (((df[columna]-media)*(df[columna]-media)).sum())/(df[columna].count()-1)
varianza

2674158307.5065355

In [55]:
poblacion_activa = df["Ocupados_Total"].sum()+df["Desocupados_Total"].sum()
poblacion_activa

2638033

In [56]:
PET = poblacion_activa + df["Inactivos_Total"].sum()
PET

7332714

In [57]:
tasa_actividad = (poblacion_activa/PET)*100
tasa_actividad

35.97621562766528